$pink:#e607fa;
$blue:#09eaf8;

h3 {
    color: $pink;
    text-shadow: 0 0 10px $pink, 0 0 20px $pink, 0 0 30px $pink, 0 0 40px $pink;
}

p, h5 {
    color: $blue;
    text-shadow: 0 0 10px $blue, 0 0 10px $blue, 0 0 0px $blue, 0 0 0px $blue;
}

.headerDiv {
    background: cover;
    width: 1100px;
    height: 200px;
    text-align: center;
}

.titulo {
    margin-top: 10px;
    color: $pink;
    text-shadow: 0 0 10px $pink, 0 0 20px $pink, 0 0 30px $pink, 0 0 40px $pink;
}

.centrar {
    text-align: center;
}

.logo {
    
    width: 100%;
    height: 150px;
}

.leerMas {
    margin-left: 130px;
    background-color: black;
    color: $pink;
    border-radius: 5px;
    box-shadow: 0px 1px 25px $pink;
    border-color: $pink;
    text-shadow: $pink 1px 0 15px;
    text-shadow: 0 0 10px $pink, 0 0 20px $pink, 0 0 30px $pink, 0 0 40px $pink;
    margin-bottom: 20px;
    &:hover{
        background-color: #1C131D;
    }
    &:active{
        background-color: #140116 !important; 
        color:$pink !important;
        text-shadow: 0 0 10px $pink, 0 0 20px $pink, 0 0 30px $pink, 0 0 40px $pink !important;        
        border: $pink 3px solid !important;
    } 
}

.divJuegos {
    overflow: hidden;
    box-shadow: 0 0 5px $pink, 0 0 5px $pink, 0 0 5px $pink, 0 0 5px $pink;
    min-height: 370px;
    float: left;
    border-radius: 5px;
    border-style: groove;
    border-width: 1px;
    border-color: $pink;
    margin-top: 20px;
}

.lineaHorizontal {
    border-top: 1px solid $pink;
}