$pink:#e607fa;
$blue:#09eaf8;
.bg-black {
    background-color: black;
}
.navbar-retro {
    border-radius: 20px !important;
    border-color: $blue !important;
    box-shadow: 0px 1px 25px $blue;
}
span i{
    color: $blue;
    text-shadow: $blue 1px 0 15px;
}
.imgLogo {
    height: 50px;
    float:left;
}
.busqueda {
    box-shadow: 0px 1px 25px $blue;
    border-radius: 5px;
    background-color:black;
    color: $blue;
    ::-webkit-input-placeholder { color: $blue; }  
}
.loginButton {
    background-color: black;
    color: $pink;
    border-radius: 5px;
    box-shadow: 0px 1px 25px $pink;
    border-color: $pink;
    text-shadow: $pink 1px 0 15px;
}

a {
    text-decoration: none;
}

.foroEnlace {
    color: $pink;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    float: left;
    margin-right: 20px;

}

.formBusqueda {
    margin-top: 13px;
}
