<div class="col-md-12 divPerfil">
    <div class="row divRowPerfil">
        <div class="col-md-12 ">
            <div class="col-md-3 divImg">
                <img src="http://localhost/Yii/retrogame-projectAPI/web/img/user5.png" class="imgPerfil" alt="fotoPerfil"/>
                <button class="btn botonEdit" [routerLink]="['/perfilUpdate', id]">Editar perfil</button>
            </div>
            <div class="col-md-6 row">
                <div *ngIf="user" class="col-md-12 divInfo">
                    <div>Usuario: <span class="datos"> {{user.user}}</span></div>
                    <div>Email: <span class="datos"> {{user.email}}</span></div>
                    <div>Nombre: <span class="datos"> {{user.nombre}}</span></div>
                    <div>CIF: <span class="datos"> {{user.CIF}}</span></div>
                    <div>Dirección: <span class="datos"> {{user.direccion}}</span></div>
                    <div>Población: <span class="datos"> {{user.poblacion}}</span></div>
                    <div>Teléfono: <span class="datos"> {{user.telefono}}</span></div>
                    <div>Fecha de nacimiento: <span class="datos"> {{user.nacimiento}}</span></div>
                </div>        
            </div>
            <div class="col-md-3">
                
            </div>
        </div>      
    </div>
    
    <div class="row">
        <div class="col-md-12 divJuegos">
            <h4>Últimos juegos jugados:</h4> 
            <div>
                <div class="row rowJuegos">
                    <span class="juegos" *ngFor="let juego of juegosNombre">
                            <div class="col-md-12 linkJuego"><a [routerLink]="['/juego', juego.id]">{{juego.nombre}} </a></div>
                            <div class="col-md-4">
                                <a [routerLink]="['/juego', juego.id]">
                                    <img src="../../../assets/img/logoGames/{{juego.nombre_archivo}}.jpg" alt="imgJuego"/>
                                </a>
                            </div>       
                    </span>
                </div> 
            </div>
        </div>
    </div>
    
</div>
