<div class="col-md-12 divPerfil">
    <div class="col-md-2 divImg">
        <img [src]="imgPath" alt="fotoPerfil"/>
    </div>
    <div class="col-md-8">
        <div class="col-md-7 divInfo">
            <div>Usuario:</div>
            <div>Contraseña:</div>
            <div>Email:</div>
            <div>Nombre:</div>
            <div>CIF:</div>
            <div>Dirección:</div>
            <div>Población:</div>
            <div>Teléfono:</div>
            <div>Fecha de nacimiento:</div>
        </div>        
    </div>
    <button class="btn botonEdit" [routerLink]="['/perfilUpdate', id]">Editar</button>    
</div>
