<div class="container">
    <h2>Contacto</h2>
    <form action="" name="contactoForm">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre">
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email">
        <br>
        <label for="asunto">Asunto:</label>
        <input type="text" name="asunto">
        <br>
        <label for="mensaje">Mensaje:</label>
        <textarea name="mensaje" rows="4" cols="50"></textarea>
        <br>
        <input type="button" name="enviar" value="Enviar">
    </form>
</div>