<div class="col-md-5 registerDiv">
    <h1>REGISTRO</h1>
    <div class="formularioDiv"> 
        <form class="formulario">
            <div class="label">
                <label>USUARIO</label>
            </div>
            <div>
                <input type="text" placeholder="Introduce tu usuario"/>
            </div>
            <div class="label">
                <label>EMAIL</label>
            </div>
            <div>
                <input type="text" placeholder="Introduce tu correo"/>
            </div>
            <div class="label">
                <label>CONTRASEÑA</label>
            </div>
            <div>
                <input type="password" placeholder="Introduce tu contraseña"/>
            </div>
            <div class="label">
                <label>NOMBRE</label>
            </div>
            <div>
                <input type="text" placeholder="Introduce tu nombre"/>
            </div>
            <div class="label">
                <label>CIF</label>
            </div>
            <div>
                <input type="text" placeholder="Introduce tu CIF"/>
            </div>
            <div class="label">
                <label>DIRECCIÓN</label>
            </div>
            <div>
                <input type="text" placeholder="Introduce tu dirección"/>
            </div>            
            <div class="label">
                <label>POBLACIÓN</label>
            </div>
            <div>
                <input type="text" placeholder="Introduce tu población"/>
            </div>
            <div class="label">
                <label>TELÉFONO</label>
            </div>
            <div>
                <input type="text" placeholder="Introduce tu teléfono"/>
            </div>
            <div class="label">
                <label>NACIMIENTO</label>
            </div>
            <div>
                <input type="date" placeholder="Introduce tu fecha de nacimiento"/>
            </div>
            <div class="col-md-11 botones">
                <a class="nav-link RegistrateEmpresa" routerLink="/registro-user"> SOY PARTICULAR </a> 
                <button type="button" class="btn btn-primary registerButton" routerLink="">REGISTRAR</button>
            </div>
        </form>
    </div>
</div>
