<div>
    <h2>Juegos de la misma empresa: </h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let juego of juegos">
            <div class="divJuegos" id="status">
                <img src="../../../assets/img/logoGames/{{juego.nombre_archivo}}.jpg" class="logo">
                <h3 class="nombre">{{juego.nombre}}</h3>
                <!--<a [routerLink]="['/juego', juego.id]" type="button" class="btn btn-success leerMas">Jugar</a>-->
                <hr class="lineaHorizontal">
            </div>
        </div>
    </div>
</div>
