<div class="juegoDetalleDescripccionContainer" *ngIf="juego">
    <div class="iconoJuegoDetalleDescripcion">
        <img src="http://alum1.iesfsl.org:8081/img/logoGames/{{juego.nombre_archivo}}.jpg" class="iconoJuegoDetalleDescripcion" alt="Logo Juego">
    </div>
    <div class="juegoDetalleDiv">
        <h2 class="tituloJuegoDetalle">{{juego.nombre}}</h2>
        <p class="descripcionJuegoDetalle">{{juego.descripcion}}</p>
        <p class="descripcionJuegoDetalle">Visitas: {{juego.visitas}}</p>
        <p class="descripcionJuegoDetalle">Empresa: {{empresaNombre}}</p>
    </div>
</div>