<div class="juegoDetalleDescripccionContainer">
    <div class="iconoJuegoDetalleDescripcion">
        <img src="../../../assets/img/logoGames/{{juego.nombre_archivo}}.jpg" class="iconoJuegoDetalleDescripcion">
    </div>
    <div class="juegoDetalleDiv">
        <h2 class="tituloJuegoDetalle">{{juego.nombre}}</h2>
        <p class="descripcionJuegoDetalle">{{juego.descripcion}}</p>
        <p class="descripcionJuegoDetalle">Visitas: {{juego.visitas}}</p>
        <p class="descripcionJuegoDetalle">Empresa: {{empresaNombre}}</p>
    </div>
</div>