<div class="juegoDetalleDescripccionContainer">
    <div class="iconoJuegoDetalleDescripcion">
        <img src="../../../assets/img/logoGames/supermariobros.jpg" class="iconoJuegoDetalleDescripcion">
    </div>
    <div class="juegoDetalleDiv">
        <h2 class="tituloJuegoDetalle">Super Mario Bros</h2>
        <p class="descripcionJuegoDetalle">
            El juego describe las aventuras de dos fontaneros (plomeros), 
            Mario, quien ya había aparecido en otros videojuegos previos, 
            tales como Donkey Kong y Mario Bros y Luigi; ambos deben rescatar 
            a la Princesa Peach, del Reino Champiñón, que fue secuestrada por 
            el rey de los koopas, Bowser.
        </p>
        <p class="descripcionJuegoDetalle">
            Empresa: Nintendo
        </p>
    </div>
</div>