<div class="categoriaDetalleContainer">
    <div class="iconoCategoriaDetalle">
        <img src="../../../assets/img/logoCategorias/plataforma.png" class="iconoCategoriaDetalle">
    </div>
    <div class="categoriaDetalleDiv">
        <h2 class="tituloCategoriaDetalle">Categoria</h2>
        <p class="descripcionCategoriaDetalle">
            Descripción: Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        </p>
    </div>
</div>