<div class="categoriaDetalleContainer">
    <div class="iconoCategoriaDetalle">
        <img src="../../../assets/img/logoCategorias/plataforma.png" class="iconoCategoriaDetalle">
    </div>
    <div class="categoriaDetalleDiv">
        <h2 class="tituloCategoriaDetalle">Plataforma</h2>
        <p class="descripcionCategoriaDetalle">
            Descripción: Los videojuegos de plataformas, o simplemente plataformas, 
            son un género de videojuegos que se caracterizan por tener que caminar, 
            orrer, saltar o escalar sobre una serie de plataformas y acantilados, 
            con enemigos, mientras se recogen objetos para poder completar el juego. 
        </p>
    </div>
</div>