<div class="col-md-12 footer">
    <div class="row">
        <div class="col-md-12  rrss">
            <a href="https://www.facebook.com/RetroGame-350083439555558"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 links">
            <a [routerLink]="['/contacto']">CONTACTO</a>
            <a [routerLink]="['/terminos']">TÉRMINOS DE USO</a>
            <a [routerLink]="['/privacidad']">PRIVACIDAD</a>
            <a [routerLink]="['/cookies']">COOKIES</a>
            <a [routerLink]="['/upload']">SUBIR JUEGO</a>
        </div>
    </div>
</div>

