$blue:#09eaf8;
.footer {
    height: 120px;
    width: 100%;
    background-color: darkgrey;
    color: $blue;
}
.rrss{
    position: relative;
    text-align: center;
}
.fab {
    margin: 20px;
    text-align: center;
}
.links {
    text-align: center;
    a {
        margin: 20px;
        text-decoration: none;
        color: $blue;

        &:hover {
            color: #23847e;
        }
    }
}
