<div class="col-md-5 registerDiv">
    <h1>REGISTRO</h1>
    <div class="formularioDiv"> 
        <form class="formulario">
            <div class="label"><label>USUARIO</label></div>
            <div><input type="text" placeholder="Introduce tu usuario"/></div>
            <div class="label"><label>EMAIL</label></div>
            <div><input type="password" placeholder="Introduce tu correo"/></div>
            <div class="label"><label>CONTRASEÑA</label></div>
            <div><input type="password" placeholder="Introduce tu contraseña"/></div>
            <div class="col-md-11 botones"><a class="nav-link RegistrateEmpresa" routerLink=""> SOY EMPRESA </a> <button type="button" class="btn btn-primary registerButton" routerLink="">REGISTRAR</button></div>
        </form>
    </div>
</div>