<div><h2>Términos de uso</h2></div>
<div class="terminos">
    <h4>Términos de uso</h4>
    <p>
        Los usuarios deberán leer y aceptar las Condiciones Generales y la Política de Privacidad de la presente página.
    
        El uso o acceso a esta página web implica el conocimiento y la plena aceptación de las advertencias legales y condiciones que a continuación se detallan. Las presentes Condiciones Generales serán aplicables en la celebración de un acuerdo anterior.
    
        Dichas Condiciones podrán se modificadas para su mejora o la previsión de aspectos y servicios no ofrecidos inicialmente o por la adaptación a modificaciones legislativas, entrando en vigor dichas condiciones desde el momento de su publicación. Si no se aceptan las nuevas condiciones o no está conforme, deberá dar de baja el servicio y no podrá hacer uso del contenido ni de los servicios que ofrecemos en nuestro portal.
    
        Te recomendamos que imprimas el presente documento para futuras incidencias.
    </p>
    <h4>Ámbito de Validez</h4>
    <p>
        Las Condiciones Generales de contratación se aplican a los servicios de Retrogame S.L. en su portal de internet www.retrogame.com , en sus sitios web y en los juegos proporcionados en los sitios web (tiendas de aplicación) y en otros servicios.
    
        En estos servicios se incluyen la descarga, instalación y participación en juegos, la creación de una cuenta como cliente, la creación de una página de perfil, la carga de contenidos como juegos, fotografías, textos, participación en blogs y foros así como la adquisicion de artículos virtuales y otros servicios.
        
        En adelante, las relaciones comerciales entre Retrogame S.L. y los usuarios se regirán exclusivamente de acuerdo a estas Condiciones Generales de Contratación (“CGC”) así como a la Declaración de Protección de Datos, formando parte de las CGC.
        
        Estas CGC excluyen a Retrogame S.L. expresamente de los posibles problemas que puedan surgir del uso del portal web y los juegos en el hardware (ordenadores, teléfonos móviles, tabletas, etc…), en el software de terceros (Google Play, Itunes) o en la conexión que emplee el Usuario para acceder a los servicios, ya que son dados por terceros y no por Retrogame S.L.
          
    </p>
    
    <h4>Usuarios</h4>
    <p>
        Para acceder a los servicios que ofrece la plataforma de Minijuegos.com deberás tener más de 14 años, encontrándose prohibido el acceso a la página y uso de sus Servicios según se registra en el art.13 del Real Decreto 1720/2007, de 21 de Diciembre, por el que se aprueba el Reglamento de Desarrollo de la Ley Orgánica 15/1999, de 13 de Diciembre, de proteccción de datos de carácter personal.<br>
    
        Si eres menor de esa edad, Retrogame S.L. permitirá a usuarios menores, siempre y cuando, se facilite la debida autorización parental firmada por el padre, madre y/o tutor legal del menor que desea registrarse y acceder a los servicios, junto con la documentación que sea pertinente o necesaria para verificar su atenticidad y validez. Para ello deberán entregar una copia del D.N.I./N.I.E./ Pasaporte en vigor del padre, madre y/o tutor legar, copia del libro de familia o un documento legal equivalente, así como una copia del D.N.I. / Pasaporte en vigor del menor si lo hubiere. <br>
        
        Si te das de alta en el Servicio y/o si usas el Servicio, reconoces y aceptas que has leído la Política de Privacidad y las CGC, que las has aceptado y que cumples con las condiciones aplicables descritas anteriormente.<br>
        
        Retrogame S.L. puede ponerse en contacto contigo, en cualquier momento, para que demuestres tu edad real previa solicitud de una copia de tu D.N.I. o un documento legal equivalente. Si no se entregara esa documentación en el plazo requerido, Retrogame S.L. se reserva el derecho a bloquear o cancelar tu cuenta de usuario.<br>
        
        Los datos y documentación solicitada y aportada por el usuario, serán utilizados única y exclusivamente por el personal autorizado de Retrogame S.L. para realizar la tarea de identificación y verificación de los datos proporcionados y, en ningún caso, se almacenarn o tratarán para otro fin. <br>
        
        La duración del contrato entre el Usuario y Retrogame S.L. se establece por un período indefinido, aunque ambas partes son competentes de rescindir la relación contractual en cualquier momento ya sea por rescisión ordinaria (cuando las partes son competentes de rescindir la relación respetando el plazo y sin indicar ningún motivo) o bien por rescisión por causa justa (cuando el usuario infringe las normativas de uso de los servicios, infracciones graves, inactividad, incumplimiento de la Ley, etc.) en cuyo caso, Retrogame S.L. está autorizada a exigir los daños y perjuicios correspondientes al Usuario. <br>
    </p>
        
    <h4>Uso de la página y normativa del servicio prestado</h4>
    <p>
        El Acceso y Uso de la web, sus Contenidos y el uso de los Servicios, otorgan al visitante la condición de Usuario y supone la aceptación de la Política de Privacidad y Condiciones Generales de Uso de minijuegos.com, suponiendo la declaración del usuario de haber leído, comprendido y aceptado en su totalidad la política de privacidad y las condiciones generales de uso de dicho portal.
        
        Como usuario te comprometes a hacer un uso adecuado y lícito del portal y de los contenidos, de conformidad con la legislación aplicable, las presentes Condiciones generales, la moral y buenas costumbres generalmente aceptadas y el orden público, obligándote a indemnizar a Retrogame S.L. por cualquier daño o perjuicio que pudieras ocasionar por el uso de este portal, infringiendo estas condiciones generales y/o la legalidad vigente.
        
        Por ello, deberas abstenerte de:
    </p>
    <ul>
        <li>Menoscabar o perjudicar la reputación y buen nombre de la empresa y de terceros que intervienen o son mencionados en los servicios.</li>
        <li>Hacer un uso no autorizado o fraudulento del portal y/o de sus contenidos con fines o efectos ilícitos.</li>
        <li>Acceder o intentar acceder a recursos o áreas restringidas del portal, sin cumplir las condiciones exigidas para dicho acceso.</li>
        <li>Introducir o difundir en la red virus informáticos o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar daños en los sistemas físicos o lógicos del propietario del dominio, de sus proveedores o de terceros.</li>
        <li>Intentar acceder, utilizar y/o manipular los datos del propietario del dominio, terceros proveedores y otros usuarios.</li>
        <li>Suprimir, ocultar o manipular las notas sobre derechos de propiedad intelectual o industrial y demás datos identificativos de los derechos de Retrogame S.L. o cualesquiera mecanismos de información que puedan insertarse en los contenidos.</li>
        <li>Intentar y/u obtener los contenidos y/o servicios empleando para ello medios o procedimientos distintos de los que, según los casos, se hayan puesto a tu disposición a este efecto o se hayan indicado expresamente en las páginas web donde se encuentren los contenidos.</li>
        <li>Está prohibida la publicación o transmisión de datos de contacto a través de tu información colocada públicamente, que incluye pero no se limita a números de teléfono, direcciones postales, direcciones de correo electrónico, páginas web o nombres completos.</li>
        <li>No se podrá reproducir, copiar vender, revender el Servicio en su totalidad parcialmente ni usar el servicio ofrecido por Retrogame S.L. para fines comerciales.</li>
        <li>Está prohibida la utilización del servicio para el envío de correos electrónicos no solicitados, que incluye pero no se limita a la publicidad comercial masiva o mensajes informativos (spam).</li>
        <li>Queda completamente prohibido el uso de cualquier tipo de servicio (script, aplicación, extensión, programa, etc…) para modificar puntuaciones y/o records de juegos, conseguir logros que no corresponden o, en definitiva, hacer cualquier tipo de trampa en los juegos. El incumplimientos de esta prohibición puede acarrear un baneo o un borrado del usuario, lo que conllevaría la pérdida de todo su progreso XP, gemas y minicoins.</li>
        <li>También se prohibe el uso de cuentas múltiples o compartidas, así como el intercambio de cuentas para conseguir logros. El incumplimiento de esta prohibición puede acarrear un baneo o un borrado del usuario, lo que conllevaría la pérdida de todo su progreso XP, gemas y minicoins.</li>
        <li>Los juegos y servicios se actualizan, adaptan, amplían y modifican constantemente. Por ello, solo obtienes un derecho de uso en el juego y en el servicio correspondiente en la versión actual en dicho momento sin que Retrogame S.L. pueda garantizar su continuación en el futuro.</li>
    </ul>
    <p>
        No se puede reclamar como usuario que los juegos o servicios no se supriman ni que se conserven en la versión existente en el momento de la aceptación de las presentes condiciones. Retrogame S.L. se reserva el derecho a suspender en cualquier momento el funcionamiento de un juego o servicio sin informar sobre los motivos.
        
        El incumplimiento de lo dispuesto en este documento por parte del usuario facultará a Retrogame S.L. para suspender o dar por concluido definitivamente el servicio.
        
        Retrogame S.L. también está autorizado a bloquear temporalmente el acceso del Usuario al servicio en el caso de sospecha de infracción y/o si la conducta del Usuario no es la adecuada según lo descrito en la normativa de la web.
        
        En el caso de que el Usuario sea bloqueado, Retrogame S.L. no se responsabiliza por los daños y perjuicios materiales o inmateriales a causa de la prohibición de participar durante el bloqueo.
    </p>
</div>
