$pink:#e607fa;
$blue:#09eaf8;
.modal-header {
    border: none;
    color: $blue;
    text-align: center;
    justify-content: center;
    h4 {
        text-align: center;
        text-shadow: 0 0 10px $pink, 0 0 20px $pink, 0 0 30px $pink, 0 0 40px $pink;
        font-weight: bold;
    }
    .close {
        margin: 0;
        position: absolute;
        top: 0px;
        right: 0px;
    }
}
.cerrar {
    color: $blue; 
   
    text-shadow: 0 0 10px $pink, 0 0 20px $pink, 0 0 30px $pink, 0 0 40px $pink;
    button {
        border: none;
    }
}
.modal-body {
    background-color: black;
    color: $blue;
    margin-bottom: 1.5rem;
    text-align: center;
    input {
        border-radius: 0;
        border:0;
        border-bottom: 1px $blue solid;
        background-color:black;
        color: $blue; 
        &:focus {
            outline: none !important;
        } 
    }
    .sign-up-nav {
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;
        padding: 5px 0px;
        .user-type {
            display:block;
            margin: 0px auto;
            text-shadow: 0 0 10px $pink, 0 0 20px $pink;
        }
        .user-type:hover, .active {
            cursor: pointer;
            color: $pink;
        }
    }
    .sign-up-nav::after {
        content: '';
        position: absolute;
        width: calc(50% - 10px);
        height: 2px;
        background: $pink;
        bottom: 0px;
        left: 10px;
        transform: translateX(0%);
        transition: transform 0.3s ease;
    }
    .active-company::after {
        transform: translateX(100%);
    }
    .form-container {
        position: relative;
        padding: 15px;
    }
    .form-control {
        margin: 0 auto;
        width: 80%;
        max-height: 30px;
        &:focus {
            box-shadow: none;
        }
    }
    label {
        margin-bottom: 0;
        margin-top: 10px;
        text-shadow: 0 0 10px $pink, 0 0 20px $pink;
    }
}
.modal-footer {
    border: none;
    text-align: center;
}

/*BOTONES*/
.botones {
    margin-top: 70px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.registerButton {
    float: right;
    background-color: black;
    padding: 7px;
    color: $pink;
    border-radius: 5px;
    box-shadow: 0px 1px 25px $pink;
    border-color: $pink;
    text-shadow: 0 0 10px $pink, 0 0 20px $pink, 0 0 30px $pink, 0 0 40px $pink;
    &:hover{
        background-color: #1C131D;
    }
    &:active{
        background-color: #140116 !important; 
        color:$pink !important;
        text-shadow: 0 0 10px $pink, 0 0 20px $pink, 0 0 30px $pink, 0 0 40px $pink !important;
        border: $pink 3px solid !important;
    }    
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
input:-internal-autofill-selected {
    background-color: black !important;
}
input[type="date"]::-webkit-calendar-picker-indicator::after {
    background-color: $blue !important;
}
/*SELECT*/
.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.content-select{
	max-width: 250px;
	position: relative;
}
 
.content-select select{
	display: inline-block;
	width: 90%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #4c4545;
	color: $blue;
	font-size: 1em;
	
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
 
.content-select select:hover{
	background: #302e2e;
}
