<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let juego of juegos">
            <div class="divJuegos" id="status">
                <img src="http://alum1.iesfsl.org:8081/img/logoGames/{{juego.nombre_archivo}}.jpg" class="logo" alt="Logo {{juego.nombre}}">
                <h3 class="nombre">{{juego.nombre}}</h3>
                <a [routerLink]="['/juego', juego.id]" type="button" class="btn btn-success boton">Jugar</a>
                <hr class="lineaHorizontal">
                <h5 class="descripcionTitulo">Descripción</h5>
                <p class="descripcion">{{juego.descripcion}}</p>
            </div>
        </div>
    </div>
</div>

<!---->
<!--Bootstrap cards-->
<!--
<div class="container">
    <div class="card-columns">
        <div class="card borde" style="width: 300px;" *ngFor="let juego of juegos">
            <img class="card-img-top" src="../../../assets/img/logoGames/{{juego.nombre_archivo}}.jpg" class="logo" alt="foto">
            <div class="card-header">
                <h3>{{juego.nombre}}</h3>
                //<a [routerLink]="['/juego', juego.id]"><h2 class="text-primary"></h2>{{juego.nombre}}</h2></a>//
            </div>
            <div class="card-body">
                <p>Lorem Ipsum</p>
            </div>
        </div>
    </div>
</div>
-->
