<!--
<ul *ngFor="let juego of juegos">
    <li><a [routerLink]="['/juegos', categoria.id]">{{categoria.nombre}}</a></li>
    <li><img src="../../../assets/img/logoGames/{{juego.imagen}}" class="logo"></li>
    <li><h3>{{juego.nombre}}</h3></li>
    <hr class="lineaDivisora">
</ul>
-->

<div class="container">
    <div class="row">
        <div *ngFor="let juego of juegos; let i = index">
            <div class="clearfix" ng-if="$i % 3 == 0"></div>
            <div class="col-lg-4">
                <img src="../../../assets/img/logoGames/{{juego.imagen}}" class="logo">
                <h3>{{juego.nombre}}</h3>
            </div>
        </div>
    </div>
</div>