<div class="container">
    <h2>Envía tu juego</h2>
    <form action="" name="contactoForm">
        <label for="nombre"><p>Nombre:</p></label>
        <input type="text" name="nombre">
        <br>
        <label for="descripcion"><p>Descripcion:</p></label>
        <textarea name="descripcion" rows="2" cols="40"></textarea>
        <br>
        <label for="mensaje"><p>Mensaje:</p></label>
        <textarea name="mensaje" rows="4" cols="50"></textarea>
        <br>
        <input type="button" name="enviar" value="Enviar" class="btn btn-primary">
    </form>
</div>