<!-- <p>entradas works!</p>
<a routerLink="/foro/entrada-detalle">Entradas-detalle</a> -->

        <div class="col-md-12" *ngFor="let entrada of entradas">
            
                <h4 *ngIf="id==entrada.seccion_id;">{{entrada.titulo}}</h4>
               
                
            
        </div>


<!-- <div class="noticiasDiv"><h4>Noticias</h4></div>
<div class="noticias" *ngFor="let noticia of noticias">
    <h5>{{noticia.titulo}}</h5>
    <p>{{noticia.texto}}</p>
    <button [routerLink]="['/noticiaDetalle', noticia.id]" class="btn btn-primary verMasbtn">Ver más</button>
</div> -->
