<h2 id="sombra">{{seccion.nombre}}</h2>

<table class="col-md-12">
        <tr class="row">
                <th class="col-md-2"><h4>Fecha</h4></th>

                <th class="col-md-8"><h4>Entrada</h4></th>

                <th class="col-md-2"><h4>Usuario</h4></th>
        </tr>

        <div *ngFor="let entrada of entradas">
            
                <div *ngIf="id==entrada.seccion_id;">

                        <tr class="row">
                              
                                <td class="col-md-2"><h5>{{entrada.fecha}}</h5></td>
                              
                                <td class="col-md-8"><h5 class="izquierda"><a [routerLink]="['/comentarios', entrada.id]">{{entrada.titulo}}</a></h5></td>
                              
                                <td class="col-md-2"><h5 class="izquierda">{{entrada.usuario_id}}</h5></td>
                              
                        </tr>
                        
                </div>

        </div>

</table>