<h2>Política de Privacidad</h2>
<div class="privacidad">
    <p> 
        A partir del 25 de Mayo del 2018, entrará en vigor la nueva Política de Privacidad según el Reglamento (UE) 2016/679 del Parlamento Europeo y del consejo de 27 de Abril de 2016 relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de dichos datos y por el que se deroga la Directiva 95/46/CE (Reglamento General de Protección de Datos – RGPD).
    </p>
    <h4>General</h4>
    <p>
        Esta declaración de privacidad le informa sobre qué datos personales recopilamos en el marco de nuestras ofertas y juegos en internet, y de cómo se procesan y se utilizan esos datos. La protección de sus datos personales es muy importante para nosotros.
    
        Sus datos están asegurados contra abusos y pérdidas. Hemos tomado las medidas técnicas y organizativas necesarias para asegurar que tanto nuestros colaboradores internos como externos cumplen las instrucciones sobre la protección de datos.
    
        Esta declaración de privacidad contiene información clara y transparente para asegurar que las personas que visitan nuestro sitio y los consumidores estén bien informados sobre la recopilación, procesamiento y uso de sus datos personales.
    
    </p>
    
    <h4>Datos personales</h4>
    <p>
        Los datos personales son la información relacionada con una persona física identificada o identificable (p.ej. nombre, dirección, número de teléfono, fecha de nacimiento o dirección de correo electrónico).
    
        En Minijuegos.com recopilamos los siguientes datos personales al registrarse el usuario y utilizar nuestros servicios: Nombre, apellidos, email, sexo, fecha de nacimiento, dirección IP y algunos otros no personales como datos locales de flash e información estadística como tipo de navegador, sistema operativo, URL que le dirigió a nuestro sitio web, fecha y hora.
    
        Los datos que aportas a Minijuegos.com son incluidos en nuestros ficheros registrados ante la Agencia Española de Protección de Datos (en adelante, “AEPD”) la cual se encarga de velar por el cumplimiento de las leyes españolas sobre privacidad y protección de datos y de garantizar la seguridad y privacidad de tus datos personales.
    
        Básicamente, usted puede utilizar nuestra oferta en línea sin proporcionar información personal, aunque ciertos servicios pueden requerir, como el registro para nuestros juegos y servicios o la participación en alguna competición.
    </p>
    <h4>Protección de datos en el proceso de solicitud</h4>
    <p>
        Recopilamos los datos personales de los solicitantes para procesar solicitudes, que se guardarán en el momento de la aceptación. Deberán observarse las regulaciones legales. En caso de negativa, los documentos de la solicitud serán eliminados en un plazo no mayor a dos meses. Una excepción sería, por ejemplo, si debiéramos retener los documentos de solicitud como prueba en un proceso o si existieran otros intereses legítimos. Pediremos su consentimiento si debemos retener sus documentos de solicitud en nuestras bases de datos durante un periodo de tiempo más largo de lo habitual. En estos casos se hará según lo dispuesto en la ley.
    </p>
    
    <h4>Información financiera</h4>
    <p>
        Para la correcta consecución de algunos servicios, especialmente, los procesos de pago, el usuario puede emplear los servicios de terceros ajenos a Moosite, (Paypal, Toditocash, PaySafeCard, etc.), Estas empresas externas a Moosite están obligadas a tratar sus datos de forma segura y confidencial. De esta forma, la operación relacionada con su tarjeta de crédito o cualesquiera otros datos personales relativos al pago, será procesada directamente por estas empresas de forma que Moosite no tendrá acceso a los datos de su tarjeta de crédito u otros sistemas de pago que utilice. A tales efectos, le recomendamos que antes de proceder al pago lea las condiciones del prestador del servicio de pagos correspondiente y si no está de acuerdo con sus condiciones no proceda a efectuar el pago.

        En consecuencia, los datos que se recaben para la adquisición de MINICOINS serán introducidos y transmitidos directamente por tí a la entidad titular de la pasarela de pago, sin que Moosite S.L. tenga acceso a los datos de la transacción económica, Moosite S.L. solo conocerá la cantidad de dinero que has depositado en la compra para cambiarla por Minicoins.
    
        Los servicios de pago que se ponen a tu alcance son prestados exclusivamente por sus responsables, sin que Moosite S.L. intervenga en dichas operaciones, por lo que te recomendamos que leas atentamente las condiciones de contratación del prestador de los servicios de pago que elijas, dado que Moosite S.L. es un tercero ajeno a dicha relación
    
    </p>
    </div>
