/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$pink:#e607fa;
* {
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #141414;
}
::-webkit-scrollbar{
  width: 0 !important;
  display: none;
}

/* Modals */
.modal-content {
  background-color: #000;
  box-shadow: 0px 1px 25px $pink;
  border-radius: 5px;
  border: 3px $pink solid; 
}