$pink:#e607fa;
$blue:#09eaf8;

h5 {
    color: $blue;
    padding: 2%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

p {
    color: $blue;
    padding: 2%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}


h4 {
    color: $blue;
    text-shadow: 0 0 10px $pink, 0 0 20px $pink, 0 0 30px $pink, 0 0 40px $pink;
    font-weight: bold;
    text-align: center;
    padding: 1%;
}

h3 {
    color: $blue;
    text-shadow: 0 0 10px $pink, 0 0 20px $pink, 0 0 30px $pink, 0 0 40px $pink;
    font-weight: bold;
    text-align: center;
    padding: 1%;
}

#sombra{
    text-shadow: 0 0 10px $pink, 0 0 20px $pink;
    font-weight: bold;
}
#rosa{
    color: $pink;
}

a{
    text-decoration: none;
    color: $blue;
    transition: color 0.3s ease;

    &:hover {
        color: $pink;
        cursor: pointer;
    }
}

table{
    margin-top: 3%;
    margin-bottom: 3%;
}
tr{
    border: 1px solid #e607fa;
}

th{
    color: #e607fa;
    border: 1px solid #e607fa;
    text-shadow: 0 0 10px $blue, 0 0 20px $blue;
    font-weight: bold;
}

td{
    border: 1px solid #e607fa;
}

.izquierda{
    text-align: left;
}